@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Display:wght@300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #944741, #86160e);
}

#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#calculadora{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: aliceblue;
    background-color: rgb(179, 101, 96);
    border-radius: 8px;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#titulo{
    font-size: 2.25rem;
    position: relative;
}

#titulo::after{
    position: absolute;
    content: '';
    background-color: rgb(90, 29, 25);
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label{
    font-size: 1.1rem;
    color: aliceblue;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,
.input-field i {
    color: rgb(90, 29, 25);
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: rgb(90, 29, 25);
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input:focus{
    outline: none;
}

#calcular{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: brown;
    color: aliceblue;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer; 
}

#resultado{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#imc{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#imc span:last-child{
    font-size: 0.87rem;
    color: aliceblue;
}

#descricao{
    width: 15.5rem;
}

.hidden{
    display: none;
}

.normal{
    color: rgb(42, 158, 42);
}

.atencao{
    color: red;
}

@media screen and (max-width:1024px){
    #img{
        display: none;
    }
}

@media screen and (max-width: 500px){
    #container{
       width: 100%;
       height: 100%;
    }

    #calculadora{
        width: 90%;
        align-items: center;
        text-align: center;
        margin-left: 20px;
        background-color: transparent;
    }
}
